# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.dist-info/

# Virtual environment
venv/
.env

# Data
data/raw_telemetry/
data/processed/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
